<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eftkad0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo3"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RegisterActivity"
            android:parentActivityName=".Start"></activity>
        <activity android:name=".LoginActivity"
            android:parentActivityName=".Start"/>

        <activity android:name=".Start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChildrenActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>